---
layout: default
---

<div class="blog">
    <h1>Blog Posts:</h1>
    <ul>
        {% for post in paginator.posts %}
        <li>
            <span class="date">
              {{ post.date | date: '%d de'}}
            	{% assign m = post.date | date: "%-m" %}
					     {% case m %}
  					   {% when '1' %}Ene.
  					   {% when '2' %}Feb.
  					   {% when '3' %}Mar.
  					   {% when '4' %}Abr.
  					   {% when '5' %}May.
  					   {% when '6' %}Jun.
  					   {% when '7' %}Jul.
  					   {% when '8' %}Ago.
  					   {% when '9' %}Sep.
  					   {% when '10' %}Oct.
  					   {% when '11' %}Nov.
  					   {% when '12' %}Dic.
					   {% endcase %}
            	{{ post.date | date: '%Y' }}
            </span> - <a href="{{ post.url }}">{{ post.title }}</a>
        </li>
        {% endfor %}
    </ul>

    {% if paginator.total_pages > 1 %}
    <ul class="pager">
        {% if paginator.previous_page %}
        <li class="previous">
            <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: 'index.html', '/' | replace: '//', '/' }}"><< Página {{paginator.previous_page}}</a>
        </li>
        {% endif %}
        {% if paginator.next_page %}
        <li class="next">
            <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Página {{paginator.next_page}} >></a>
        </li>
        {% endif %}
    </ul>
    {% endif %}
</div>
