<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="theme-color" content="#1C1C1C" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

    {% if page.title %}
        <title>{{ page.title }}</title>
    {% else %}
        <title>{{ site.name }}</title>
    {% endif %}

    <meta name="description" content="{{ site.description }}">

    {% if site.google_verification %}
        <meta name="google-site-verification" content="{{ site.google_verify }}">
    {% endif %}

    <link rel="icon" href="/assets/img/favicon.ico">
    <link href='https://fonts.googleapis.com/css?family=Inconsolata:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="/assets/css/main.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/syntax.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/spoiler.css">
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="/assets/js/LMSpoiler.js" type="text/javascript"></script>
    <script type="text/javascript">
        window.onload = function() {
            LMSpoiler = new LMSpoiler();
            LMSpoiler.spoilerParser();
        };
    </script>
</head>

<body>
    <div class="main">
        <div class="nav">
            <a href="/">
                <img src=../assets/img/logo.png alt="logo">
            </a>
            <h1>{{ site.name }}</h1>
            <ul>
                {% for item in site.data.navigation %}
                <li>
                    <a href="{{ item.url }}">{{ item.title }}</a>
                </li>
                {% endfor %}
                <li><a href="https://github.com/owniz" target="_blank" title="GitHub: owniz">/github</a></li>
                <li><a href="https://twitter.com/owniz" target="_blank" title="@owniz">/twitter</a></li>
                <li><a href="mailto:iam@jmoral.es" title="iam@jmoral.es">/email</a></li>
            </ul>
            <hr>
        </div>
        <div class="posts">
            {{ content }}
        </div>
        <div class="license">
            <div id=cctext>
                Este obra está bajo una
                <a rel="license" href="http://creativecommons.org/licenses/by-nc/4.0/" target="_blank">licencia de Creative Commons Reconocimiento-NoComercial 4.0 Internacional</a>.
            </div>
            <div id="ccimg">
                <a rel="license" href="http://creativecommons.org/licenses/by-nc/4.0/"  target="_blank">
                    <img alt="Licencia de Creative Commons" style="width:80px" src="https://i.creativecommons.org/l/by-nc/4.0/80x15.png" />
                </a>
            </div>
        </div>
    </div>
</body>

</html>
